a {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.6em;
  line-height: 2em;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

/*
a:visited {
color:rgb(167, 179, 8)
}
*/

.whiteBG {
  background-color: white;
  opacity: 60%;
  padding: 10px;
}

.whiteBG > p:first-child {
  font-size: 15pt;
}

.whiteBG > p:last-child {
  font-size: 12pt;
}

.responsive {

  
  max-width: 100%;
  height: auto;
  
  
}

.lastParaBg {
  background-color: black;
  border-style: groove;
  border-width: 2px;
  
}

.lastParaBg > p {
  color: white;
  padding: 30px;
  line-height: 1.8em;
}

caption {
  display: block;
}





@media only screen and (max-width: 800px) {

  .containerWithImage {
  display:none;
  }

  #statsContainer > p {
    width: 100%;
    font-family: Helvetica, 'Times New Roman', Times, serif;
    font-size: 13pt;
    }

    select {
      max-width: 80%;
    }
  .breadcrumbContainer {
    max-width: max-content;
    background-color: rgb(240, 239, 239);
    padding: 10px;
  
    margin-top: -10px;
    margin-bottom: 50px;
  }
  
  .breadcrumbSeperator {
    padding: 10px;
    font-size: 12pt;
  }
  
  .breadcrumbCurrent {
    color: rgb(0, 0, 0);
    text-transform: none;
    font-size: 13pt;
  }

  #statsContainer {
    width: 100%;
    margin-top: 20px;
    padding-left: 30px;
    
    background-color: rgb(200, 200, 200);
    padding-bottom: 30px;
  
  
  }

  
}



@media only screen and (min-width: 810px) {

  .containerWithImage {
    background-image: url("/websiteproject/images/background2.jpeg");
    background-repeat:none;
  padding: 40px;
  max-width: 70%;
  margin-top: 50px;
  height: auto;
  }

  .breadcrumbContainer {
    max-width: max-content;
    background-color: rgb(240, 239, 239);
    padding: 10px;
    border-style: groove;
    border-color: black;
    border-width: 1px;
  }
  
  .breadcrumbSeperator {
    padding: 10px;
    font-size: 14pt;
  }
  
  #statsContainer {
    width: 70%;
    background-color: rgb(200, 200, 200);
    padding: 50px;
  
  
  }
  .breadcrumbCurrent {
    color: rgb(7, 83, 7);
    text-transform: none;
    font-size: 15pt;
  }

  #statsContainer > p {
    width: 70%;
    font-family: Helvetica, 'Times New Roman', Times, serif;
    font-size: 13pt;
    }
  
}



.listInStatsContainer {
  background-color: rgb(10, 95, 10);
  width: 70%;
  border-style: dashed;
  border-width: 3px;
}

.listInStatsContainer:hover {
  background-color: rgb(0, 50, 34);
}

.listInStatsContainer > li {
  font-size: 14pt;
  list-style-type:lower-roman;
  color: white;
  padding: 10px;
  width: 70%;
  }





h2 {
  margin-top: 50px;
  color: darkblue;
  font-weight: 700;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

h3 {
  color: darkred;
  font-family: Helvetica, 'Times New Roman', Times, serif;
  font-weight: 700;
  font-size: 16pt;
  margin-bottom: 30px ;
  margin-top: 35px ;
}



.copyrightText {
  color: white;
  padding-top: 20px;
  text-align: center;
  font-size: 13pt;
}

.footerLinks {
  display: block;
  text-align: center;
  padding-bottom: 20px;
}

.footerLinks > a:link {
  /*links only, not styling the pipe*/
  font-size: 12pt;
  font-weight: 700;
  color: white;
  text-transform: none;
}

div.tip {
  background-color: darkgreen;
  max-width: 70%;
  text-align: center;
  padding: 8px;
  color: white;

  font-size: 14pt;
  border-style: ridge;
  border-color: black;
}

div.tip:hover {
  background-color: rgb(55, 113, 55);
}

.tiptext {
  text-decoration: underline;
  font-weight: 700;
  font-size: 15.5pt;
}

div.tip > a {
  font-size: 13pt;
  color: rgb(255, 206, 206);
  text-transform: none;
}
div.tip > a:hover {
  text-decoration: underline;
  color: darkorange;
}

.footerLinks > a:hover {
  font-size: 12pt;
  color: white;
}

span.pipe {
  color: white;
  padding: 10px;
}
/*
a:link {
    color:white;
}
*/

a:hover {
  color: darkorange;
  text-decoration: underline;
}

@media only screen and (max-width: 800px) {
  thead {
    background-color: green;
    color: white;
    font-size: 14pt;
  }

  td {
    padding: 10px;
    font-size: 16pt;
    border-style: ridge;
  }

  div.formContainer {
    display: block;
    padding: 0px;
    margin-top: 60px;
    background-color: white;
    border-style: groove;
    border-color: rgb(10, 26, 40);
    animation-name: formBorder;
    animation-duration: 4s;
    animation-delay: 2s;
  }

  table {
    width: 90%;
    border-collapse: collapse;
    border-width: 2px;
  }

  tr {
    border-style: groove;
    border-color: black;
    border-width: 2px;
  }

  tr:nth-child(2) {
    background: #f7f7f7;
  }

  th {
    text-align: left;
    padding: 10px;
  }
}

@media only screen and (min-width: 810px) {
  thead {
    background-color: green;
    color: white;
    font-size: 14pt;
  }

  td {
    padding: 20px;
    font-size: 14pt;
    border-style: ridge;
  }

  table {
    width: 50%;
    margin-top: 35px;
    border-collapse: collapse;
    border-width: 2px;
    margin-bottom: 35px;
  }

  tr {
    border-style: groove;
    border-color: black;
    border-width: 2px;
  }

  th {
    text-align: left;
    padding: 10px;
    border-style: ridge;
  }
}

/*unused
body {

}



div {

}

main {

}

header {
    

}
*/

.listInNav {
  display: inline; /*make the link items in the menu inline instead of block*/

  color: white;
  padding-left: auto;
  font-style: none;
}

/*
@media only screen and (max-width: 500px) {
  
}
*/

@media only screen and (max-width: 800px) {

div.successMessage {
  border-style: ridge;
  border-width: 3px;
  margin-top: 60px;
  border-color: black;
  margin-left: 0px;
  text-align: left;
  max-width: 50%;
  padding: 50px;
}

.successMessage > p {
  color: black;
}
  
}

/*
@media only screen and (orientation: landscape) {

}*/

/*
@media only screen and (min-width: 1000px) {

}*/

@media only screen and (min-width: 810px) {

div.successMessage {
  border-style: ridge;
  border-width: 3px;
  margin-top: 60px;
  border-color: black;
  margin-left: 200px;
  text-align: left;
  max-width: 50%;
  padding: 50px;
}

.successMessage > p {
  color: black;
}
  
}



@keyframes formBorder {
  from {
    border-color: red;
  }
  to {
    border-color: rgb(255, 145, 0);
  }
}

textarea {
  font-size: 16pt;
  display: block;
  padding: 10px;
  min-width: 55%;
  min-height: 150px;
  max-width: 100%;
  font-family: "Arial", Georgia, serif;
}

/*change the cursor when hovering over a select menu */
select:hover {
  cursor: grab;
}

input[type="submit"]:hover {
  cursor: pointer;
}

div.formContainer {
  display: block;
  padding: 5px;
  margin-top: 60px;
  background-color: white;
  border-style: groove;
  border-color: rgb(10, 26, 40);
  animation-name: formBorder;
  animation-duration: 4s;
  animation-delay: 2s;
}

div.containers {
  background-color: white;
  padding: 50px;
  border-style: ridge;
  border-color: black;
  border-width: 2px;
}

.ctaButton {
  margin-top: 20px;
  background-color: darkgreen;
  color: white !important;
  text-transform: none !important;
  font-size: 16pt;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
}

.ctaButton:hover {
  background-color: darkorange;
}

p.firstPara:first-letter {
  color: black;
  font-weight: 700;
  font-size: 30px;
}

@media only screen and (max-width: 800px) {
  div.containers > p,
  div.containerWithImage > p {
    width: 90%;
    line-height: 1.8em;
  }
}

@media only screen and (min-width: 810px) {
  div.containerWithImage > p,
  div.containers > p {
    width: 70%;
  }
}

label {
  line-height: 3em;
  font-size: 14pt;
}

h1 {
  color: brown;
  text-align: center;
  font-size: 4em;
  font-family: "Verdana", Georgia, Times, sans-serif;
}

input[type="submit"],
input[type="text"] {
  display: block;
}
input[type="text"] {
  margin-bottom: 10px;
  font-size: 14pt;
  padding: 10px;
}

input[type="submit"]:hover {
  background-color: darkorange;
}

input[type="submit"] {
  margin-top: 20px;
  background-color: darkgreen;
  color: white;
  font-size: 16pt;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
}

input[type="text"]:focus {
  background-color: rgb(229, 229, 240);
}

form {
  padding: 40px;
}

ul.navList {
  max-width: max-content;
  background-color: rgb(0, 0, 0);
  margin-right: auto;
 
}



nav {
  background-image: url("/websiteproject/images/background.jpg");

  padding: 5px;
 
}

span.old {
  text-decoration: line-through;
  color: red;
}

span.new {
  color: darkgreen;
  font-weight: 600;
}

.siteName {
  text-align: center;
  background-color: aliceblue;
  height: 70px;
  padding-bottom: 19px;
  margin-top: -10px;
}

.siteName:hover {
  background-color: white;
}

#siteHeading {
  padding: 10px;
  margin-top: 10px;
  font-size: 25pt;
  color: rgb(0, 0, 0);
  letter-spacing: 2px;
  box-shadow: none !important;

  font-family: Arial, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.navLinks {
  padding: 30px;

  font-size: 18pt;
}

#period {
  color: black;
  font-weight: 700;
}

p {
  font-size: 14pt;
}
aside {
  background-color: rgb(43, 56, 67);
}

footer {
  background-color: rgb(0, 0, 0);
  width: 100%;

  bottom: 0px;
  position: relative;
}

.sidebar {
  border-width: 2px;
  border-color: red;
  position: right;
  text-align: center;
  width: 27%;
  margin-left: 8px;
}

.sidebar > aside > a {
  display: block;
}
